body {
	padding-top: 54px;
}

@media (min-width: 992px) {
	body {
		padding-top: 56px;
	}
}

.card {
	height: 100%;
}

.display-3 {

	font-size: 3rem !important;
}

.bg-ghostwhite {
	background-color: #f8f9fa; 
}

.bg-sienna {
	background-color: #bd5d38; 
}

.bg-darkcyan {

	background-color: #1d809f;
}

.txt-color-goldenrod{
	color: #e4b122;
}

.img-circle{

	border-radius: 50%;
}

.ratio {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /*height: 0;*/
    /*padding-bottom: 100%;*/
    position: relative;
    width: 40%;
}